@use "utilities/variables" as *;

@use "base/reset";
@use "base/tipografia";

@use "layout/header";
@use "layout/navbar";
@use "layout/main";

@use "components/cards";

@use "layout/footer";
@use "layout/mediaqueries";







