@use "../utilities/variables" as *;


body:not(.home) header {
  padding-top: 56px;

  @media (min-width: 992px) {
    padding-top: 70px;
  }
}

/* Asegurar que en la home no haya padding */
body.home header {
  padding-top: 0;
}
