@media (max-width: 768px) {

  .section-title {
    font-size: 42px;
    text-align: center;
  }

  .card {
    margin-bottom: 16px;
  }

  main ul,
  main ol {
    line-height: 2;
  }
}
/* Pantallas grandes (27 pulgadas y más) */
@media (min-width: 2560px) {
  .recetas-populares {
    .card {
      width: 24rem !important;
    }
  }

  .recetas-populares .gap-3 {
    gap: 2rem !important;
  }
}