@use "../utilities/variables" as *;

/*------navbar------*/

.titulo-navbar {
    font-size: 40px;
    font-weight: bold;
    color: $color-secundario;
    text-shadow: $sombra-letras ;
    letter-spacing: 5px;
    font-family: 'Pacifico', cursive;
}

.titulo-navbar:hover {
    color: $color-secundario;
    transform: scale(1.1) translateY(5px);
    transition: $transition-lenta;

}

.navbar-nav a {
    font-size: 20px;
    font-weight: bold;
    color: $color-secundario;
    text-shadow: $sombra-letras;
    letter-spacing: 5px;
    margin-right: 15px;
    margin-left: 15px;
    font-family: $fuente-titulos;
}
.navbar-nav a:hover {
    color: $color-secundario;
    transform: translateY(-5px);
    text-shadow: $sombra-letras;
}
