

%section-title-base {
    font-weight: bold;
    color: $color-primario;
    position: relative;
    font-family: $fuente-titulos ;
}

%section-line-after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color:$color-primario;
    margin: 10px auto 0;
    border-radius: 2px;
}


