$color-primario: orangered;
$color-secundario: white;
$color-terciario: black;
$color-cuarto: grey;

$bg-fondo-1: orangered;
$bg-fondo-2:white;

$fuente-titulos:'Pacifico', cursive;
$fuente-subtitulos:'Pacifico', cursive;
$fuente-textos: arial ;

$transition-lenta: 0.5s ease;

$radius-card: 10px;

$sombra-letras: 2px 2px 4px black;


%section-title-base {
    font-weight: bold;
    color: $color-primario;
    position: relative;
    font-family: $fuente-titulos ;
}

%section-line-after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color:$color-primario;
    margin: 10px auto 0;
    border-radius: 2px;
}


